body{
  background-image: url("https://images.pexels.com/photos/33545/sunrise-phu-quoc-island-ocean.jpg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: cover;
}
*{
    font-weight: bold;
    color:white;
    text-align: center;
}

.days{
    margin:30px 90px;
    display:inline-block;
    padding:10px;
    border-radius: 10px;
}

.templates{
    text-align: center;
}

.templates div{
    text-align: center;
}

.today{
    font-size: 30px;
    margin:auto auto;
}

#icon{
    height:100px;
    width:100px;
    border-radius: 100%;
}
#week{
    color:blue
}

@media only screen and (max-width: 600px) {
    .days {
        width: 30%;
        margin: 10px; 
    }

    #icon {
        height: 50px;
        width: 50px;
        border-radius: 100%;
    }


    .templates {
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
    }

    .templates div {
        padding: 0;
        margin: 3px;
        text-align: center; 
    }

    .today{
        font-size: 22px;
        font-weight: bold;
    }
    h3{
        margin:20px;
    }
    body {
        height: 100vh; 
      }
    #container{
        margin-top: 10px;
    }
    
}
